<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Windows Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="homepage withAnimation">
        <div class="wrapper">

            <header class="main-header cf">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <ul class="nav">
                                <li><a href="#">ÜBER UNS</a></li>
                                <li><a href="#">KONTAKT</a></li>
                                <li><a href="#">ANMELDEN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.top-bar -->

                <div class="header-bar mainnav">
                    <div class="container">
                        <div class="row">
                            <a href="index.html" class="logo pull-left">
                                <img src="img/logo.png" alt="logo">
                            </a>
                            <div class="config-box">
                                <div class="top-cart">
                                    <a href="#">
                                        <span>Warenkorb 0,00 </span>
                                        <span>(O Artikel)</span>
                                    </a>
                                </div>
                                <a href="#" class="config-btn">
                                    FENSTER-KONFIGURATOR
                                    <span>Konfigurieren Sie Ihr Fenster</span>
                                </a>
                            </div>
                            <div class="top-logo pull-right">
                                <img src="pictures/top_brand.png"  alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.header-bar -->

                <div class="menu-bar cf">
                    <div class="container">
                        <div class="row">
                            <div class="mainnav">
                                <ul class="main-menu">
                                    <li>
                                        <a href="#">Kunststofffenster</a>
                                        <div class="submenu">
                                            <div class="menu-products">
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mainnav-info">
                                                <p>Die Senkung des U-Wertes allein um 0,1 (W/m2K) spart pro Quadratmeter Fensterfläche einen Liter Heizöl im Jahr – der TÜV Rheinland hat ausgerechnet, dass durch neue Wärmeschutzfenster gegenüber den üblichen Altbaufens-tern 50 bis 70 Prozent weniger Wärme verloren gehen. </p>
                                                <p>Quelle angeben</p>
                                                <div class="img">
                                                    <img src="pictures/menu_info.png" alt="pictures">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li><a href="#">Holzfenster</a></li>
                                    <li><a href="#">Holz-Alu-Fenster</a></li>
                                    <li><a href="#">Zubehör</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.menu-bar -->
            </header>
            <!-- /.main-header -->

            <main class="main-content">
                
                <div class="main-banner">
                    <div class="banner-item container">
                        <div class="banner-right">
                            
                            <a href="#" class="top-btn blue-btn">EXPERTENTIPPS</a>
                            <a href="#" class="top-btn blue-btn">100 Jahre Fensterbau</a>
                            <a href="#" class="top-btn blue-btn">Versandkostenfrei</a>
                        </div>
                        <h1>Expertentipps <br>Fenster richtig vermessen</h1>
                        <a href="#" class="read-more">&gt; mehr Tipps</a>
                        
                        <div class="banner-box-wrap cf">
                            <div class="banner-box">
                                <a href="prd_cat.html" class="box-img"><img src="pictures/prdcat1.png"  alt=""></a>
                                <span class="name">Kunststofffenster</span>
                                <span class="box-price">
                                    ab <span class="price">€ 89</span>
                                </span>
                                <a href="prd_config.html" class="config">Konfigurator</a>
                            </div>
                            <div class="banner-box">
                                <a href="prd_cat.html" class="box-img"><img src="pictures/prdcat3.png"  alt=""></a>
                                <span class="name">Holzfenster</span>
                                <span class="box-price">
                                    ab <span class="price">€ 149</span>
                                </span>
                                <a href="prd_config.html" class="config">Konfigurator</a>
                            </div>
                            <div class="banner-box">
                                <a href="prd_cat.html" class="box-img"><img src="pictures/prdcat4.png"  alt=""></a>
                                <span class="name">Holz-Alu-Fenster</span>
                                <span class="box-price">
                                    ab <span class="price">€ 199</span>
                                </span>
                                <a href="prd_config.html" class="config">Konfigurator</a>
                            </div>
                            <div class="banner-box">
                                <a href="prd_cat.html" class="box-img"><img src="pictures/prdcat2.png"  alt=""></a>
                                <span class="name">Zubehör</span>
                                <span class="box-price">
                                    ab <span class="price">€ 89</span>
                                </span>
                                <a href="prd_config.html" class="config">Konfigurator</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="main-banner-bg">
                        <div class="bg bg-banner1"></div>
                        <div class="bg bg-banner2"></div>
                        <div class="bg bg-banner3"></div>
                        <div class="bg bg-banner4"></div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">

                        <div class="about-home">
                            <h2 class="text-info">Fenster online kaufen im Fenster-Webshop</h2>
                            <h4>Nichts leichter als das. </h4>
                            <p>Lassen Sie sich von unserem nutzerfreundlichen Konfigurator auf Ideen bringen, die Sie sich nicht hätten träumen lassen. Geben Sie einfach die gewünschten Maße ein und staunen Sie, was damit alles möglich wird. Dass eine dekorative Innenfensterbank genauso dazugehört wie die Au-ßenfensterbank, die Schäden vom Mauerwerk effektiv und lang anhaltend abwehrt, versteht sich fast von selbst. Nur passen muss das eine zum anderen, sowohl optisch als auch technisch. Das alles haben wir im Fenster-Webshop akribisch eingeplant und für Sie von Grund auf durchdacht. Mit dem Ergebnis, dass keinerlei Probleme auftreten, wenn Sie Ihre Fenster online kaufen. Es soll schließlich zum Vergnügen werden und keine Plackerei. Ihr Einkaufsbummel bei uns dient ausschließlich der Entspannung und der Vorfreude, anstatt zur Strapaze zu werden. Vorausgesehene Schwierigkeiten lösen sich förmlich in Luft auf und machen uneingeschränktem Wohlgefallen Platz <br><br></p>
                        </div>
                        <!-- /.about-home -->
                        <h2 class="text-info">Zubehör</h2>
                        <div class="home-products">
                            <div class="home-prd">
                                <a href="prd_detail.html" class="prd-img"><img src="pictures/home_prd1.png" alt=""></a>
                                <a href="prd_detail.html" class="prd-name">Rolladen</a>
                                <span>igula eget dolor Aenean massapenatibus et Cum sociis natoque penatibus et </span>
                                <a href="prd_config.html" class="prd-addcart green-btn">Produktübersicht</a>
                            </div>
                            <div class="home-prd">
                                <a href="prd_detail.html" class="prd-img"><img src="pictures/home_prd2.png" alt=""></a>
                                <a href="prd_detail.html" class="prd-name">Dichtungen</a>
                                <span>igula eget dolor Aenean massapenatibus et Cum sociis natoque penatibus et </span>
                                <a href="prd_config.html" class="prd-addcart green-btn">Produktübersicht</a>
                            </div>
                            <div class="home-prd">
                                <a href="prd_detail.html" class="prd-img"><img src="pictures/home_prd3.png" alt=""></a>
                                <a href="prd_detail.html" class="prd-name">Fenstergriffe</a>
                                <span>igula eget dolor Aenean massapenatibus et Cum sociis natoque penatibus et </span>
                                <a href="prd_config.html" class="prd-addcart green-btn">Produktübersicht</a>
                            </div>
                            <div class="home-prd">
                                <a href="prd_detail.html" class="prd-img"><img src="pictures/home_prd4.png" alt=""></a>
                                <a href="prd_detail.html" class="prd-name">Fensterbänk</a>
                                <span>igula eget dolor Aenean massapenatibus et Cum sociis natoque penatibus et </span>
                                <a href="prd_config.html" class="prd-addcart green-btn">Produktübersicht</a>
                            </div>

                        </div>
                        
                        <div class="home-feature cf">
                            <a href="#" class="prd-img"><img src="pictures/feature.png"  alt=""></a>
                            <h2>Ihre Vorteile - preiswerte Qualitätsfenster</h2>
                            <h4>Kundezufriedenheit ist uns das Wichtigste</h4>
                            <ul>
                                <li>Erfahrung seit über 140 Jahren</li>
                                <li>5 Jahre Gewährleistung</li>
                                <li>bequem von zu Hause bestellen</li>
                                <li>hochwertige Produkt</li>
                            </ul>
                        </div>

                        <div class="about-home">
                            <h2 class="text-info">Unser Unternehmen oder wissenswertes zu unseren Fenstern</h2>
                            <h4>Unsere Kompetenz - Ihr Vertrauen</h4>
                            <p>Das Unternehmen existioert seit über 140 Jahres. online seit 20015. Unsere Stärke ist sehr gute Qualiät zu günstigen Preisen. Überzeugen Sie sich selbst. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</p>
                            <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            <br><br>
                        </div>
                        

                    </div>
                </div>
            </main>
            <!-- /.main-content -->

            <footer class="main-footer">
                <div class="about-box-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="about-box">
                                <a href="#" class="blue-btn">EXPERTENTIPPS</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">100 Jahre Fensterbau</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">Versandkostenfrei</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="partner-box">
                    <div class="container">
                        <div class="row">
                            <img src="pictures/partner.png"  alt="">
                        </div>
                        
                    </div>
                </div>

                <div class="ft-sitemap">
                    <div class="container cf">
                        <div class="row">
                            <ul class="ft-nav pull-left">
                                <li>
                                    <a href="#">PRODUKTE</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">KONFIGURATOR</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">EXPERTENTIPPS</a>
                                    <ul>
                                        <li><a href="#">Wissenswertes</a></li>
                                        <li><a href="#">Tipps und Tricks?</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">UNTERNEHMEN</a>
                                    <ul>
                                        <li><a href="#">Über uns</a></li>
                                        <li><a href="#">Unser Team</a></li>
                                        <li><a href="#">Hersteller und </a></li>
                                        <li><a href="#">Marken</a></li>
                                        <li><a href="#">Referenzen</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="ft-nav pull-right">
                                <li>
                                    <a href="#">SERVICE</a>
                                    <ul>
                                        <li><a href="#">Beratung</a></li>
                                        <li><a href="#">Garantie</a></li>
                                        <li><a href="#">Zahlung</a></li>
                                        <li><a href="#">Lieferung</a></li>
                                        <li><a href="#">Selbstabholung</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">RECHTLICHES</a>
                                    <ul>
                                        <li><a href="#">AGB</a></li>
                                        <li><a href="#">Widerruf</a></li>
                                        <li><a href="#">Lieferung und </a></li>
                                        <li><a href="#">Versand</a></li>
                                        <li><a href="#">Zahlungsarten</a></li>
                                        <li><a href="#">Datenschutz</a></li>
                                        <li><a href="#">Bestellvorgang</a></li>
                                        <li><a href="#">Bestellungen und </a></li>
                                        <li><a href="#">Rücksendungen</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                            
                    </div>
                </div>

                <div class="ft-copy">
                    <div class="container">
                        <div class="row">
                            <div class="pull-left">Copyright © 2014 &nbsp; deutsche-fensterwerke.de</div>
                            <ul class="">
                                <li><a href="#">Impressum</a></li>
                                <li><a href="#">AGB</a></li>
                                <li><a href="#">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </footer>
            <!-- /.main-footer -->
            
            <div class="menu-overlay"></div>
        </div>
        <!-- /.wrapper -->
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
