<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Windows Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://windows.demo.sfp.de/theme/WindowShop/css/configurator.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="homepage withAnimation">
        <div class="wrapper">

            <header class="main-header cf">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <ul class="nav">
                                <li><a href="#">ÜBER UNS</a></li>
                                <li><a href="#">KONTAKT</a></li>
                                <li><a href="#">ANMELDEN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.top-bar -->

                <div class="header-bar mainnav">
                    <div class="container">
                        <div class="row">
                            <a href="index.html" class="logo pull-left">
                                <img src="img/logo.png" alt="logo">
                            </a>
                            <div class="config-box">
                                <div class="top-cart">
                                    <a href="#">
                                        <span>Warenkorb 0,00 </span>
                                        <span>(O Artikel)</span>
                                    </a>
                                </div>
                                <div class="config-cart" id="configurator-price">
                                    <div class="config-showprice">
                                        <ul>
                                            <li class="fenster-price active">
                                              <span class="attr-name">Fenster:</span>
                                              <span class="attr-value">
                                              </span>
                                              <span class="price">658.00&nbsp;€</span>
                                            </li>
                                            <li class="rollladen-price">
                                              <span class="attr-name">Rollladen:</span>
                                              <span class="attr-value">
                                              </span>
                                              <span class="price">10.00&nbsp;€</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="config-attr">
                                        <span class="price">&nbsp;<span class="cur">&nbsp;</span></span>
                                    </div>
                                    <a href="#" class="config-show-detail"></a>
                                    <div class="config-cart-detail">
                                        <ul class="config-list">
                                            <li class="fenster-price has-child open">
                                                <span class="attr-name">Fenster:</span>
                                                <span class="price">658.00&nbsp;€</span>
                                                <ul>
                                                    <li>
                                                        <span class="attr-name">Code:</span>
                                                        <span class="attr-value">
                                                            <p>wsp-54900f9614c8c</p>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Material:</span>
                                                        <span class="attr-value">
                                                            <p>Kunststoff</p>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Profil:</span>
                                                        <span class="attr-value">
                                                            <p>DEAL 8000</p>
                                                        </span>
                                                        <span class="price">0.00&nbsp;€</span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Fenstertyp:</span>
                                                        <span class="attr-value"></span>
                                                        <span class="price"></span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Größe:</span>
                                                        <span class="attr-value">
                                                            <p>Breite: 800</p>
                                                            <p>Höhe: 1200</p>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Fensterflügel:</span>
                                                        <span class="attr-value">
                                                            <p>Zweiflüglig 2x1 keine Öffnung</p>
                                                        </span>
                                                        <span class="price">0.00&nbsp;€</span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Glas:</span>
                                                        <span class="attr-value"></span>
                                                        <span class="price"></span>
                                                    </li>
                                                    <li>
                                                        <span class="attr-name">Farbe:</span>
                                                        <span class="attr-value">Innenfarbe: Weiß</span>
                                                        <span class="price">0.00&nbsp;€</span>
                                                        <div class="clearfix"></div>
                                                        <span class="attr-name">&nbsp;</span>
                                                        <span class="attr-value">Außenfarbe: Weiß</span>
                                                        <span class="price">0.00&nbsp;€</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="rollladen-price has-child">
                                                <span class="attr-name">Rollladen:</span>
                                                <span class="price">10.00&nbsp;€</span>
                                                <ul>
                                                    <li>
                                                        <span class="attr-name">Modell:</span>
                                                        <span class="attr-value">Nova Round</span>
                                                        <span class="price">10.00&nbsp;€</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h3 class="config-subtotal">
                                            Gesamtpreis:
                                            <span class="price">668.00&nbsp;€</span>
                                        </h3>
                                    </div>
                                </div>
                                <!-- /#configurator-price.config-cart -->
                            </div>
                            <div class="top-logo pull-right">
                                <img src="pictures/top_brand.png"  alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.header-bar -->

                <div class="menu-bar cf">
                    <div class="container">
                        <div class="row">
                            <div class="mainnav">
                                <ul class="main-menu">
                                    <li>
                                        <a href="#">Kunststofffenster</a>
                                        <div class="submenu">
                                            <div class="menu-products">
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mainnav-info">
                                                <p>Die Senkung des U-Wertes allein um 0,1 (W/m2K) spart pro Quadratmeter Fensterfläche einen Liter Heizöl im Jahr – der TÜV Rheinland hat ausgerechnet, dass durch neue Wärmeschutzfenster gegenüber den üblichen Altbaufens-tern 50 bis 70 Prozent weniger Wärme verloren gehen. </p>
                                                <p>Quelle angeben</p>
                                                <div class="img">
                                                    <img src="pictures/menu_info.png" alt="pictures">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li><a href="#">Holzfenster</a></li>
                                    <li><a href="#">Holz-Alu-Fenster</a></li>
                                    <li><a href="#">Zubehör</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.menu-bar -->
            </header>
            <!-- /.main-header -->
                
            <section class="main-content" id="configurator">
                <div class="container">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Holzfenster</li>
                        </ol>
                    </div>
                </div>
                <div class="container prd-config">
                    <div class="row">
                        <div class="config-nav left-panel">
                            <ul class="menu">
                                <li class="crr-attr" data-id="1"><a href="#">Material</a>
                                </li>
                                <li data-id="2"><a href="#">Profil</a>
                                </li>
                                <li data-id="8"><a href="#">Fenstertyp</a>
                                </li>
                                <li data-id="5"><a href="#">Grösse</a>
                                </li>
                                <li data-id="4"><a href="#">Fensteröffnung</a>
                                </li>
                                <li data-id="6"><a href="#">Verglasung</a>
                                </li>
                                <li data-id="3"><a href="#">Farbe</a>
                                </li>
                                <li data-id="7"><a href="#">Rollladen</a>
                                </li>
                                <li data-id="10"><a href="#">Bestellung aufgeben</a>
                                </li>
                                <input type="hidden" value="0" name="data[productId]" id="product-id">
                            </ul>
                            <div class="bg"></div>
                        </div>
                        <div class="config-wrap">
                            <div class="config-left right-panel">
                                <div class="config-header">
                                    <h3 class="config-title pull-left">Material</h3>
                                    <div class="pull-left hastip blue-btn" data-hasqtip="14">info</div>
                                    <div class="info-tip">
                                        <h3>Überschrift</h3>
                                        <p>Die Senkung des U-Wertes allein um 0,1 (W/m2K) spart pro Quadratmeter Fensterfläche einen Liter Heizöl im Jahr – der TÜV Rheinland hat ausgerechnet, dass durch neue Wärmeschutzfenster gegenüber den üblichen Altbaufenstern 50 bis 70 Prozent weniger Wärme verloren gehen. </p>
                                        <span>Quelle angeben</span>
                                        <img src="pictures/prdconfig_tip.png"  alt="">
                                    </div>
                                </div>
                                    
                                <div class="clearfix"></div>
                                <div class="config-desc">
                                    <p>Hier sollte immer ein kurzer Text/Anweisung stehen <br>Bitte wählen Sie zwischen Fenstern aus <br>Kunststoff, Holz oder Holz-Aluminium aus. <br><br></p>
                                </div>
                                
                                <div class="cf"></div>
                                <div class="content material">
                                    <ul>
                                        <li data-id="1" class="active">
                                            <img src="http://windows.demo.sfp.de/files/uploads/thumbnails/1/4fd173cbffdb9bc60bd92a96f868d9f007d1101b_5423c71f1c2af.png" title="Kunststoff" alt="Kunststoff">
                                            <span>Kunststoff</span>

                                        </li>
                                        <li data-id="2">
                                            <img src="http://windows.demo.sfp.de/files/uploads/thumbnails/1/6733b0a265dd1a7a036fbb26990f2fa50c800429_5423b6ea58cd8.jpg" title="Holz" alt="Holz">
                                            <span>Holz</span>

                                        </li>
                                        <li data-id="3">
                                            <img src="http://windows.demo.sfp.de/files/uploads/thumbnails/1/89ea990e953012a8627f76b78fe8509330047b16_5423c73eb5243.jpg" title="Holz-Aluminium" alt="Holz-Aluminium">
                                            <span>Holz-Aluminium</span>

                                        </li>
                                    </ul>
                                    <div class="config-btnlst">
                                        <button type="button" class="btn green-btn btn-weiter" data-go="2">Weiter</button>
                                    </div>
                                </div>
                            </div>

                            <div class="config-preview" id="preview-window">
                                <div id="drawing" style="top: 115px; left: 67.5px;">
                                    <svg height="461" version="1.1" width="308.93388429752065" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.59375px;" viewBox="0 0 810 1210" preserveAspectRatio="xMidYMid meet">
                                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc>
                                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <linearGradient id="160-_a3c2e4-_e5f0fc" x1="0" y1="1" x2="0.577350269189626" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#a3c2e4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#e5f0fc" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="360-_a3c2e4-_e5f0fc" x1="0" y1="1" x2="0.577350269189626" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#a3c2e4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#e5f0fc" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="560-_a3c2e4-_e5f0fc" x1="0" y1="1" x2="0.577350269189626" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#a3c2e4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#e5f0fc" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="760-_a3c2e4-_e5f0fc" x1="0" y1="1" x2="0.577350269189626" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#a3c2e4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#e5f0fc" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                        </defs>
                                        <rect x="0" y="0" width="800" height="1200" r="0" rx="0" ry="0" fill="#ffffff" stroke="#575757" stroke-width="2.6247288503253796" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
                                        <rect x="50" y="50" width="312.5" height="512.5" r="0" rx="0" ry="0" fill="url(#160-_a3c2e4-_e5f0fc)" stroke="#555555" stroke-width="2.6247288503253796" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <path fill="none" stroke="#f378c2" d="M206.25,286.25L206.25,326.25M186.25,306.25L226.25,306.25" stroke-width="2.6247288503253796" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                        <rect x="437.5" y="50" width="312.5" height="512.5" r="0" rx="0" ry="0" fill="url(#360-_a3c2e4-_e5f0fc)" stroke="#555555" stroke-width="2.6247288503253796" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <path fill="none" stroke="#f378c2" d="M593.75,286.25L593.75,326.25M573.75,306.25L613.75,306.25" stroke-width="2.6247288503253796" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                        <rect x="50" y="637.5" width="312.5" height="512.5" r="0" rx="0" ry="0" fill="url(#560-_a3c2e4-_e5f0fc)" stroke="#555555" stroke-width="2.6247288503253796" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <path fill="none" stroke="#f378c2" d="M206.25,873.75L206.25,913.75M186.25,893.75L226.25,893.75" stroke-width="2.6247288503253796" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                        <rect x="437.5" y="637.5" width="312.5" height="512.5" r="0" rx="0" ry="0" fill="url(#760-_a3c2e4-_e5f0fc)" stroke="#555555" stroke-width="2.6247288503253796" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <path fill="none" stroke="#f378c2" d="M593.75,873.75L593.75,913.75M573.75,893.75L613.75,893.75" stroke-width="2.6247288503253796" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                        <rect x="0" y="1812.5" width="800" height="5" r="0" rx="0" ry="0" fill="#9d9d9d" stroke="#9d9d9d" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></rect>
                                    </svg>
                                </div>
                                <div id="sub-height" style="height: 571.198347107438px;"></div>
                                <div class="config-view" id="configurator-attributes">
                                    <div class="item aubenfarbe">
                                        <h5>Außenfarbe:</h5>
                                        <a href="#">
                                            <img src="http://windows.demo.sfp.de/files/uploads/1/cabe0025aa7df145e6e5bc2bf569c8fd66f015af_5447252d59b12.gif" alt="">
                                            <span>Weiß</span>
                                        </a>
                                    </div>
                                    <div class="item innenfarbe">
                                        <h5>Innenfarbe:</h5>
                                        <a href="#">
                                            <img src="http://windows.demo.sfp.de/files/uploads/1/ec648cb9d77896efff32340378b52821d69519c5_5447257286157.gif" alt="">
                                            <span>Weiß</span>
                                        </a>
                                    </div>
                                    <div class="item profil">
                                        <h5>Profil:</h5>
                                        <a href="#">
                                            <img src="http://windows.demo.sfp.de/files/uploads/thumbnails/1/8468953c13acdd23c2f0420089f5e1d6e764b2d4_542159824f3f0.jpg" title="DEAL 8000" alt="DEAL 8000">
                                            <span>DEAL 8000</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="movable_field movable_horizontal_field" style="left: 67.5px; top: 10px; height: 35px; width: 304.1322314049587px;">
                                    <span></span>
                                    <input value="800" data-value="800" readonly="readonly" class="on-range-limit" data-x="" data-y="" data-min="0" data-max="0"></div>
                                <div class="movable_field movable_horizontal_field" style="left: 67.5px; top: 45px; height: 35px; width: 152.06611570247935px;">
                                    <span></span>
                                    <div class="min-max-wrapper"> <em class="dimensions-min">200 -</em> <em class="dimensions-max">600</em>
                                    </div>
                                    <input value="400" data-value="400" class="size-value" data-x="0" data-y="0" data-min="200" data-max="600"></div>
                                <div class="movable_field movable_horizontal_field" style="left: 219.56611570247935px; top: 45px; height: 35px; width: 152.06611570247935px;">
                                    <span></span>
                                    <div class="min-max-wrapper">
                                        <em class="dimensions-min">200 -</em>
                                        <em class="dimensions-max">600</em>
                                    </div>
                                    <input value="400" data-value="400" readonly="readonly" class="size-value" data-x="1" data-y="0" data-min="200" data-max="600"></div>
                                <div class="movable_field movable_horizontal_field" style="left: 67.5px; top: 80px; height: 35px; width: 152.06611570247935px;">
                                    <span></span>
                                    <div class="min-max-wrapper">
                                        <em class="dimensions-min">200 -</em>
                                        <em class="dimensions-max">600</em>
                                    </div>
                                    <input value="400" data-value="400" class="size-value" data-x="0" data-y="1" data-min="200" data-max="600"></div>
                                <div class="movable_field movable_horizontal_field" style="left: 219.56611570247935px; top: 80px; height: 35px; width: 152.06611570247935px;">
                                    <span></span>
                                    <div class="min-max-wrapper">
                                        <em class="dimensions-min">200 -</em>
                                        <em class="dimensions-max">600</em>
                                    </div>
                                    <input value="400" data-value="400" readonly="readonly" class="size-value" data-x="1" data-y="1" data-min="200" data-max="600"></div>
                                <div class="movable_field movable_vertical_field" style="left: 371.6322314049587px; top: 115px; height: 230.09917355371903px; width: 80px;">
                                    <span></span>
                                    <div>
                                        <div class="min-max-wrapper">
                                            <em class="dimensions-min">300 -</em>
                                            <em class="dimensions-max">900</em>
                                        </div>
                                        <input value="600" data-value="600" class="size-value" data-h="0" data-min="300" data-max="900"></div>
                                </div>
                                <div class="movable_field movable_vertical_field" style="left: 371.6322314049587px; top: 343.099173553719px; height: 230.09917355371903px; width: 80px;">
                                    <span></span>
                                    <div>
                                        <div class="min-max-wrapper">
                                            <em class="dimensions-min">300 -</em>
                                            <em class="dimensions-max">900</em>
                                        </div>
                                        <input value="600" data-value="600" readonly="readonly" class="size-value" data-h="1" data-min="300" data-max="900"></div>
                                </div>
                                <div class="movable_field movable_vertical_field" style="left: 451.6322314049587px; top: 115px; height: 458.19834710743805px; width: 20px;">
                                    <span></span>
                                    <div>
                                        <input value="1200" data-value="1200" readonly="readonly" class="on-range-vertical-limit" data-h="" data-min="0" data-max="0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </section>
            <!-- /.main-content -->

            <footer class="main-footer">
                <div class="about-box-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="about-box">
                                <a href="#" class="blue-btn">EXPERTENTIPPS</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">100 Jahre Fensterbau</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">Versandkostenfrei</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="partner-box">
                    <div class="container">
                        <div class="row">
                            <img src="pictures/partner.png"  alt="">
                        </div>
                        
                    </div>
                </div>

                <div class="ft-sitemap">
                    <div class="container cf">
                        <div class="row">
                            <ul class="ft-nav pull-left">
                                <li>
                                    <a href="#">PRODUKTE</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">KONFIGURATOR</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">EXPERTENTIPPS</a>
                                    <ul>
                                        <li><a href="#">Wissenswertes</a></li>
                                        <li><a href="#">Tipps und Tricks?</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">UNTERNEHMEN</a>
                                    <ul>
                                        <li><a href="#">Über uns</a></li>
                                        <li><a href="#">Unser Team</a></li>
                                        <li><a href="#">Hersteller und </a></li>
                                        <li><a href="#">Marken</a></li>
                                        <li><a href="#">Referenzen</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="ft-nav pull-right">
                                <li>
                                    <a href="#">SERVICE</a>
                                    <ul>
                                        <li><a href="#">Beratung</a></li>
                                        <li><a href="#">Garantie</a></li>
                                        <li><a href="#">Zahlung</a></li>
                                        <li><a href="#">Lieferung</a></li>
                                        <li><a href="#">Selbstabholung</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">RECHTLICHES</a>
                                    <ul>
                                        <li><a href="#">AGB</a></li>
                                        <li><a href="#">Widerruf</a></li>
                                        <li><a href="#">Lieferung und </a></li>
                                        <li><a href="#">Versand</a></li>
                                        <li><a href="#">Zahlungsarten</a></li>
                                        <li><a href="#">Datenschutz</a></li>
                                        <li><a href="#">Bestellvorgang</a></li>
                                        <li><a href="#">Bestellungen und </a></li>
                                        <li><a href="#">Rücksendungen</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                            
                    </div>
                </div>

                <div class="ft-copy">
                    <div class="container">
                        <div class="row">
                            <div class="pull-left">Copyright © 2014 &nbsp; deutsche-fensterwerke.de</div>
                            <ul class="">
                                <li><a href="#">Impressum</a></li>
                                <li><a href="#">AGB</a></li>
                                <li><a href="#">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </footer>
            <!-- /.main-footer -->
            
            <div class="menu-mask"></div>
            <div class="menu-overlay"></div>
        </div>
        <!-- /.wrapper -->
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
