<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Windows Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="homepage withAnimation">
        <div class="wrapper">

            <header class="main-header cf">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <ul class="nav">
                                <li><a href="#">ÜBER UNS</a></li>
                                <li><a href="#">KONTAKT</a></li>
                                <li><a href="#">ANMELDEN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.top-bar -->

                <div class="header-bar mainnav">
                    <div class="container">
                        <div class="row">
                            <a href="index.html" class="logo pull-left">
                                <img src="img/logo.png" alt="logo">
                            </a>
                            <div class="config-box">
                                <div class="top-cart">
                                    <a href="#">
                                        <span>Warenkorb 0,00 </span>
                                        <span>(O Artikel)</span>
                                    </a>
                                </div>
                                <a href="#" class="config-btn">
                                    FENSTER-KONFIGURATOR
                                    <span>Konfigurieren Sie Ihr Fenster</span>
                                </a>
                            </div>
                            <div class="top-logo pull-right">
                                <img src="pictures/top_brand.png"  alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.header-bar -->

                <div class="menu-bar cf">
                    <div class="container">
                        <div class="row">
                            <div class="mainnav">
                                <ul class="main-menu">
                                    <li>
                                        <a href="#">Kunststofffenster</a>
                                        <div class="submenu">
                                            <div class="menu-products">
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>
                                                <div class="menuprd">
                                                    <a href="#" class="prd-img"><img src="pictures/menu_prd.png"  alt=""></a>
                                                    <a href="#" class="prd-name">Ideal 5000 S</a>
                                                    <div class="sub-title">gehobene Grundausstattung</div>
                                                    <div class="prd-desc">igula eget dolor Aenean massapus Cum sociis natoque penatibus et</div>
                                                    <a href="#" class="prd-godetail">&gt; Produktinfos</a>
                                                    <div class="">
                                                        <a href="#" class="green-btn">Konfigurator </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mainnav-info">
                                                <p>Die Senkung des U-Wertes allein um 0,1 (W/m2K) spart pro Quadratmeter Fensterfläche einen Liter Heizöl im Jahr – der TÜV Rheinland hat ausgerechnet, dass durch neue Wärmeschutzfenster gegenüber den üblichen Altbaufens-tern 50 bis 70 Prozent weniger Wärme verloren gehen. </p>
                                                <p>Quelle angeben</p>
                                                <div class="img">
                                                    <img src="pictures/menu_info.png" alt="pictures">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li><a href="#">Holzfenster</a></li>
                                    <li><a href="#">Holz-Alu-Fenster</a></li>
                                    <li><a href="#">Zubehör</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.menu-bar -->
            </header>
            <!-- /.main-header -->

            <main class="main-content">
                <div class="container">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Holzfenster</li>
                        </ol>
                    </div>
                </div>
                        
                <div class="container">
                    <div class="row">

                        <div class="prddt-main has-related">
                            <div class="prddt-leftcol">
                                <button class="btn blue-btn prddt-back" onclick="javascript:history.back(-1);">Zurück</button>
                            </div>
                            <div class="prddt-content">
                                <h1 class="prddt-title">Holzfenster Classic</h1>
                            </div>
                            <div class="cf"></div>
                            <div class="prddt-img">
                                <div class="prddt-imgbig">
                                    <img src="pictures/prddetail.jpg" alt="Energeto 8000ED">
                                </div>

                                <div class="prddt-thumb">
                                    <a class="active" href="http://windows.demo.sfp.de/files/uploads/1/dce124a71605d6471346c51c523aa5d129348d50_5423c3229dbb6.jpg"><img src="http://windows.demo.sfp.de/files/uploads/1/dce124a71605d6471346c51c523aa5d129348d50_5423c3229dbb6.jpg" alt=""></a>
                                    <a  href="http://windows.demo.sfp.de/files/uploads/1/a6d598448cfc86173b4f6bc3e9cf2b4a1ffdd089_544dc97a7bb75.jpg"><img src="http://windows.demo.sfp.de/files/uploads/1/a6d598448cfc86173b4f6bc3e9cf2b4a1ffdd089_544dc97a7bb75.jpg" alt=""></a>
                                    <a  href="http://windows.demo.sfp.de/files/uploads/1/a07f7c772b2e9d06868d5e553ed770455e79ee71_544dc97bdaf77.jpg"><img src="http://windows.demo.sfp.de/files/uploads/1/a07f7c772b2e9d06868d5e553ed770455e79ee71_544dc97bdaf77.jpg" alt=""></a>
                                    <a  href="http://windows.demo.sfp.de/files/uploads/1/e7d6060604125461897481e75e57421a27d65338_544dc97d92ab7.jpg"><img src="http://windows.demo.sfp.de/files/uploads/1/e7d6060604125461897481e75e57421a27d65338_544dc97d92ab7.jpg" alt=""></a>
                                    <a  href="http://windows.demo.sfp.de/files/uploads/1/07bd26b3057cd7172a7a666c859593821be0335b_544dc97f10536.jpg"><img src="http://windows.demo.sfp.de/files/uploads/1/07bd26b3057cd7172a7a666c859593821be0335b_544dc97f10536.jpg" alt=""></a>
                                </div>
                  
                            </div>
                            <!-- /.prddt-img -->
                            <div class="prddt-content">
                                <div class="prddt-desc">
                                    <p>&gt; klassisches Design <br>
                                    &gt; erhältlich in den Holzarten Kiefer, Meranti, Lärche und Eiche <br>
                                    &gt; Schutz durch Regenschiene und Flügelabdeckprofi
                                    </p>
                                    <br>
                                    <h4 class="prd-price">ab <span>€ 89,-</span></h4>
                                    <a href="prd_config.html" class="prd-addcart green-btn">Konfigurator</a>
                                </div>
                            </div>
                            <!-- /.prddt-content -->
                            <div class="prddt-full cf">
                                <h2 class="text-info">Holzfenster Classic - Systembeschreibung</h2>
                                <p>SYSTEM UND KONSTRUKTION <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <br><br>
                            </div>
                            <!-- /.prddt-full -->
                            <div class="prddt-other">
                                <h3 class="title">Weitere Produkte</h3>
                                <div class="prdother-item">
                                    <a href="#" class="prd-img"><img src="http://windows.demo.sfp.de/files/uploads/1/7349795ba43e73dc76daba83580932fbba8361a1_5423c55340aaa.gif" alt=""><span></span></a>
                                    <h2 class="prd-title"><a href="#">Abdeckleisten aus Holz</a></h2>
                                </div>
                                <div class="prdother-item">
                                    <a href="#" class="prd-img"><img src="http://windows.demo.sfp.de/files/uploads/1/7349795ba43e73dc76daba83580932fbba8361a1_5423c55340aaa.gif" alt=""><span></span></a>
                                    <h2 class="prd-title"><a href="#">Abdeckleisten aus Holz</a></h2>
                                </div>
                                <div class="prdother-item">
                                    <a href="#" class="prd-img"><img src="http://windows.demo.sfp.de/files/uploads/1/7349795ba43e73dc76daba83580932fbba8361a1_5423c55340aaa.gif" alt=""><span></span></a>
                                    <h2 class="prd-title"><a href="#">Abdeckleisten aus Holz</a></h2>
                                </div>
                            </div>
                            <!-- /.prddt-other -->
                        </div>
                            
                    </div>
                </div>
            </main>
            <!-- /.main-content -->

            <footer class="main-footer">
                <div class="about-box-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="about-box">
                                <a href="#" class="blue-btn">EXPERTENTIPPS</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">100 Jahre Fensterbau</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                            <div class="about-box">
                                <a href="#" class="blue-btn">Versandkostenfrei</a>
                                <p>Wir bieten Ihnen Anleitungen rund um Fensterausbau und -einbau</p>
                                <a href="#" class="viewmore">&gt; mehr Informationen</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="partner-box">
                    <div class="container">
                        <div class="row">
                            <img src="pictures/partner.png"  alt="">
                        </div>
                        
                    </div>
                </div>

                <div class="ft-sitemap">
                    <div class="container cf">
                        <div class="row">
                            <ul class="ft-nav pull-left">
                                <li>
                                    <a href="#">PRODUKTE</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">KONFIGURATOR</a>
                                    <ul>
                                        <li><a href="#">Kunststofffenster</a></li>
                                        <li><a href="#">Holzfenster</a></li>
                                        <li><a href="#">Holz-Alu-Fenster</a></li>
                                        <li><a href="#">Haustüren</a></li>
                                        <li><a href="#">Sonnenschutz</a></li>
                                        <li><a href="#">Insektenschutz</a></li>
                                        <li><a href="#">Zuberhör</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">EXPERTENTIPPS</a>
                                    <ul>
                                        <li><a href="#">Wissenswertes</a></li>
                                        <li><a href="#">Tipps und Tricks?</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">UNTERNEHMEN</a>
                                    <ul>
                                        <li><a href="#">Über uns</a></li>
                                        <li><a href="#">Unser Team</a></li>
                                        <li><a href="#">Hersteller und </a></li>
                                        <li><a href="#">Marken</a></li>
                                        <li><a href="#">Referenzen</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="ft-nav pull-right">
                                <li>
                                    <a href="#">SERVICE</a>
                                    <ul>
                                        <li><a href="#">Beratung</a></li>
                                        <li><a href="#">Garantie</a></li>
                                        <li><a href="#">Zahlung</a></li>
                                        <li><a href="#">Lieferung</a></li>
                                        <li><a href="#">Selbstabholung</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">RECHTLICHES</a>
                                    <ul>
                                        <li><a href="#">AGB</a></li>
                                        <li><a href="#">Widerruf</a></li>
                                        <li><a href="#">Lieferung und </a></li>
                                        <li><a href="#">Versand</a></li>
                                        <li><a href="#">Zahlungsarten</a></li>
                                        <li><a href="#">Datenschutz</a></li>
                                        <li><a href="#">Bestellvorgang</a></li>
                                        <li><a href="#">Bestellungen und </a></li>
                                        <li><a href="#">Rücksendungen</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                            
                    </div>
                </div>

                <div class="ft-copy">
                    <div class="container">
                        <div class="row">
                            <div class="pull-left">Copyright © 2014 &nbsp; deutsche-fensterwerke.de</div>
                            <ul class="">
                                <li><a href="#">Impressum</a></li>
                                <li><a href="#">AGB</a></li>
                                <li><a href="#">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </footer>
            <!-- /.main-footer -->
            
            <div class="menu-overlay"></div>
        </div>
        <!-- /.wrapper -->
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
